* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

.outer-headings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 45px;
}

.inner-headings {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}


.inner-headings span {
    position: relative;
    color: crimson;
    animation: animation 10s ease infinite;
}


body {
    background: slategray;
}